.order-from-transaction-to-collection {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-weight: bold;
  }
  .multi-select {
    // width: 60%;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 10px;
    z-index: 4;
  }
  h3 {
    margin-top: 1rem;
  }
  .custom-row {
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    .select {
      font-size: 1.2rem;
      z-index: 2;
      font-weight: 500;
    }
  }
  .button {
    --color: black;
    $color_1: var(--color);
    $color_2: rgb(10, 25, 30);
    $font-family_1: inherit;
    $background-color_1: transparent;
    $background-color_2: var(--color);
    padding: 0.2em 1.7em;
    background-color: $background-color_1;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid;
    font-family: $font-family_1;
    margin-top: 30px;
    color: $color_1;
    z-index: 1;
    width: fit-content;
    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      transform: translate(-70%, -50%);
      position: absolute;
      border-radius: 50%;
      z-index: -1;
      background-color: $background-color_2;
      transition: 1s ease;
      top: -1em;
      left: -1em;
    }
    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      transform: translate(-30%, -50%);
      position: absolute;
      border-radius: 50%;
      z-index: -1;
      background-color: $background-color_2;
      transition: 1s ease;
      left: calc(100% + 1em);
      top: calc(100% + 1em);
    }
    &:hover {
      &::before {
        height: 410px;
        width: 410px;
      }
      &::after {
        height: 410px;
        width: 410px;
      }
      color: $color_2;
      color: whitesmoke;
    }
    &:active {
      filter: brightness(0.8);
    }
    &[disabled] {
      cursor: not-allowed;
    }
  }
}
