.collection-management-statistic-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  @media screen and (max-width: 450px) {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  gap: 2rem;
  margin-top: 1.5rem;
  .collection-management-statistic-card {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: translateY(-5px);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .left-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 90px;
      h3 {
        color: #878a99;
        text-transform: uppercase;
        font-size: 1.32rem;
        font-weight: bold;
      }
      .counter {
        font-size: 2.2rem;
        font-weight: 500;
        color: #495057;
      }
      p {
        margin: 0;
        font-size: 1.2rem;
        text-decoration: underline;
        font-weight: 500;
        cursor: pointer;
        color: #878a99;
      }
    }

    .right-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      p {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        gap: 2px;
        font-weight: 600;
        color: #878a99;
        &.increase {
          color: rgb(19, 195, 107);
        }
        &.decrease {
          color: #ff6d60;
        }
      }
      .icon {
        font-size: 4rem;
        padding: 7px;
        border-radius: 5px;
        font-weight: 600;
        color: rgba(12, 53, 106, 1);
        background-color: rgba(12, 53, 106, 0.2);
        &.incoming {
          color: rgb(19, 195, 107);
          background-color: rgba(19, 195, 107, 0.2);
        }
        &.outgoing {
          color: rgb(47, 128, 208);
          background-color: rgba(47, 128, 208, 0.2);
        }
        &.total {
          color: rgba(255, 196, 54, 1);
          background-color: rgba(255, 196, 54, 0.2);
        }
      }
    }
  }
}
