.footer-custom {
    margin-top: 5rem;
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 3rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    .section {
        h2 {
            padding-bottom: 1rem;
            // border-bottom: 1px solid black;
            font-size: 2rem;
            display: flex;
            align-items: center;
        }
        p {
            font-size: 1.4rem;
        }
        .contact {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.5rem;
        }
    }
}