$accordion-icon-transition: transform 1s ease-in-out;
$accordion-transition: border-radius 1s ease;
@import '~bootstrap/scss/bootstrap';
html {
  font-size: 62.5%;
}

.app-container {
  position: relative;
  max-height: 100vh;
  // width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .nav-bar-custom {
    background: transparent;
    transition: all 1s ease;
    &.blur {
      // backdrop-filter: blur(5px);
      background-color: whitesmoke;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

      .nav-brand {
        .icon,
        h3 {
          color: black;
        }
      }
      .nav-links {
        .nav-link {
          color: black;
        }
      }
    }
    .nav-brand {
      text-decoration: none;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      .icon {
        font-size: 2.5rem;
        color: white;
      }
      h3 {
        font-size: 2.3rem;
        color: white;
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .nav-link {
        font-size: 1.6rem;
        position: relative;
        color: white;
      }
      .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 1px solid;
        margin-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
      }
      .nav-link:hover::after,
      .nav-link.active::after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}
